{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block header %}
    <h1>Let's see some recipes.</h1>
{% endblock %}

{% block content %}
    <main>
        {% for recipe in recipes %}
            <div class="card-recipe">
                <p><span class="emphasis">Title:</span> {{recipe['title']}}</p>
                <p><span class="emphasis">Chef:</span> {{recipe['username']}}</p>
                <p><span class="emphasis">Igredients:</span> <span class="ingredients">{{recipe['ingredients']}}</span></p>
                {% if g.user['id'] == recipe['chef_id']%}
                    <a class="submit_button card-button" href="{{ url_for('recipes.update', recipe_id=recipe['id']) }}">Update</a>
                {% endif %}
                <a class="submit_button card-button" href="{{ url_for('recipes.recipe', recipe_id=recipe['id']) }}">See recipe</a>
            </div>
        {% endfor %}
        <script>
            let elements = document.querySelectorAll(".ingredients");
            let limit = 50;
            elements.forEach(e => {
                if (e.innerHTML.length > limit) {
                    e.innerHTML = e.innerHTML.substring(0, limit) + '...';
                }
            })
        </script>
    </main>
{% endblock %}

