* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1024px;
    margin: auto;
}

nav {
    background-color: #2ecc71;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

nav ul li a {
    color: #333333;
}

nav ul li a:hover {
    color: #222222;
}

nav h1 {
    margin-left: 10px;
}

nav h1 a {
    color: #333333;
    text-decoration: none;
}

nav h1 a:hover {
    color: #222222;
}

header h1 {
    color: #2980b9;
    padding: 20px 0;
}

.flash {
    color: #ff0000;
    background-color: #191515;
    min-height: 100px;
    width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.content {
    text-align: center;
    background-color: #F0F0F0;
    min-height: calc(100vh - 60px);
}

.index-content {
    display: flex;
    gap: 20px;
    width: calc(100% - 20px);
    margin: 0 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    background-color: #D3D3D3;
    outline: none;
    height: 30px;
    border: 1px solid #2ecc71;
    font-size: 20px;
    width: 400px;
    border-radius: 40px;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

.form textarea {
    border: 1px solid #2ecc71;
    font-size: 20px;
    border-radius: 15px;
    width: 400px;
    resize: none;
    padding: 10px;
    outline: none;
    background-color: #D3D3D3;
}

.submit_button {
    background-color: #2ecc71;
    color: #fff;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.comment_button {
    margin-top: 20px;
}

.submit_button:hover {
    background-color: #29b262;
}

.delete_button {
    background-color: #ed4545;
    color: #5d0c0c;
    cursor: pointer;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: none;
    outline: none;
}

.delete_button:hover {
    background-color: #ff0000;
    color: #000000;
}

.card-button {
    align-self: center;
}

.card-recipe {
    text-align: left;
    padding: 20px;
    width: 250px;
    height: 340px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-recipe p {
    background-color: #F0F0F0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.card-recipe a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.emphasis {
    font-weight: bold;
}

.recipe-box {
    margin: auto;
    width: 60%;
    background-color: #fff;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
}

.ingredients, .recipe {
    white-space: pre-line;
}

.comments {
    width: 80%;
    margin: auto;
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 10px;
}

.comment {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.user {
    background-color: #2ecc71;
    padding: 3px 10px;
    border-radius: 5px;
    color: #fff;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
    }

    .recipe-box {
        width: 80%;
    }
}

@media (max-width: 760px) {
    .recipe-box {
        width: 100%;
    }
}

@media (max-width: 560px) {
    .comments {
        width: 100%;
    }
    
    .form textarea {
        width: 90%;
    }

}


