<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="container">
        <h1>Recipes</h1>
        <ul>
            {% if g.user %}
            <li><a href="{{ url_for('recipes.create') }}">Create Recipe</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
    <section class="content container">
        <header>
            {% block header %} {% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </sections>
</body>
</html>